@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

:root {
  --font-family:"Paprika", system-ui;

  --gradient-text: linear-gradient(89.97deg, #356901 1.84%, #19DB20 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}